#locations {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    align-items: center;
}
#locations div {
    background-color: #222;
    border-radius: 5px;
    word-wrap: break-word;
    color: #C0C0C0;
    cursor: pointer;
    padding: 0px 0px 0px 10px;
}