#details {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    color: #FFF;
    background-color: #111;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
}

#details>h1>a {
    color: #FFF;
}

#details p {
    font-family: Arial, Helvetica, sans-serif;
}

#details>div#back {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1.5rem;
    cursor: pointer;
}

#details>div#media-container {
    display: flex;
    flex-flow: column nowrap;
}