.tooltip {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    font-size: 2rem;
    color: #A00;
}
.tooltip-text {
    display: none;
    position: relative;
    padding: 5px 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    user-select: none;
    font-size: 1rem;
}
.tooltip:hover .tooltip-text {
    display: block;
}